html {
  font-size: 62.5%; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
  box-sizing: border-box; }

/*--header--------------------------------------------*/
header {
  background: #f9f8f6;
  padding: 20px 0 10px 0; }
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px; }
  header #header .logo {
    position: absolute;
    left: 0;
    top: 40px;
    width: 112px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: left top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  @media (max-width: 550px) {
    header .logo {
      width: 100%;
      text-align: center;
      margin-top: 10px; }
    header .navi {
      width: 100%; }
    header .sp_navi {
      text-align: center; }
    header .sp_navi li {
      display: inline-block;
      margin: 10px 8px; } }
  header .navi_menu_child {
    width: 50%;
    position: absolute;
    top: 50px;
    right: 5%;
    border: 1px solid #eee;
    background: #F7C9CE;
    margin: 50px;
    padding: 0 20px;
    display: none;
    z-index: 100; }
    header .navi_menu_child li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .navi_menu_child li a {
        color: black;
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none; }
  header #header_in {
    cursor: pointer; }
  header .navi_menu_child {
    display: none; }

@media (min-width: 550px) {
  .sp_navi {
    display: none; }

  #header_in {
    padding: 15px 0 10px 0; }

  .pc_navi {
    float: right;
    margin-top: 5px; }

  .pc_navi_li {
    margin: 0;
    padding: 0;
    /*    // lili .navi_fasebook a {
            //retina_bgbackground-repeat: no-repeat;
            display: inline-block;
            line-height: 40px;
            padding-left: 50px;
            background-image: url("../images/top_sp/fb.png");
            background-size: 40px 40px;
            @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution:2dppx) {
                background-image: url("../images/top_sp/fb@2x.png");
            }
        }
        // .li.navi_toppage ali .navi_instaglam a {
            //retina_bgbackground-repeat: no-repeat;
            display: inline-block;
            line-height: 40px;
            padding-left: 50px;
            background-image: url("../images/top_sp/insta.png");
            background-size: 40px 40px;
            @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution:2dppx) {
                background-image: url("../images/top_sp/insta@2x.png");
            }
        }    */ }
    .pc_navi_li li {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0;
      float: left;
      white-space: nowrap; }
      .pc_navi_li li a {
        color: #5B5B5B;
        text-decoration: none;
        font-weight: bold;
        font-size: 10px;
        font-size: 1rem;
        padding: 5px; }
      .pc_navi_li li a:hover {
        color: #b0b0b0; }
        .pc_navi_li li a:hover ul:after {
          content: "";
          display: block;
          clear: both; } }
@media (max-width: 550px) {
  .pc_navi {
    display: none; } }
header .sp_navi .navi_menu_child li {
  display: inline; }

/*---side----------------------------*/
#contents {
  background: #f9f8f6; }
  @media (max-width: 550px) {
    #contents #pc_sidebar {
      display: none; } }
  #contents .box-side-form {
    background: #fff;
    background-color: white;
    padding: 25px 15px;
    margin-bottom: 10px; }
  #contents .box-side-form h4 {
    margin-bottom: 10px; }
  #contents .box-side-form form {
    background-color: #ecebe8;
    height: 24px; }
  #contents .box-side-form h4 img {
    height: 10px;
    width: auto; }
  #contents .box-side-form form input {
    float: left;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    padding: 2px 5px;
    border: none;
    background: transparent;
    margin-left: 0; }
  #contents .box-side-form form button {
    float: right;
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer; }
  @media (max-width: 550px) {
    #contents .box-side-form {
      background: #fff;
      background-color: white;
      padding: 25px 15px;
      margin-bottom: 10px;
      margin-top: 10px;
      width: auto; } }

/*---contents---*/
/*-----search box---------------------------*/
.pc_sidemenu {
  /*--side_top--*/ }
  .pc_sidemenu div {
    margin-bottom: 10px; }
  .pc_sidemenu .side_top {
    background-color: #fff;
    /*--h4--*/
    /*--categories--*/ }
    .pc_sidemenu .side_top .pagelink {
      display: none; }
    .pc_sidemenu .side_top .box_top_img {
      background-color: #887f69;
      height: 40px; }
      .pc_sidemenu .side_top .box_top_img img {
        height: 8px;
        width: auto;
        margin-top: 15px;
        margin-left: 5%; }
      .pc_sidemenu .side_top .box_top_img .pagelink_img {
        height: 11px;
        width: auto;
        margin-top: 15px;
        margin-left: 5%; }
      .pc_sidemenu .side_top .box_top_img #next_icon_category {
        height: 12px;
        width: auto;
        margin-top: 15px;
        float: right;
        margin-right: 8px;
        cursor: pointer; }
      .pc_sidemenu .side_top .box_top_img #next_icon_link {
        height: 12px;
        width: auto;
        margin-top: 15px;
        float: right;
        margin-right: 8px;
        cursor: pointer; }
    .pc_sidemenu .side_top .img_jpg {
      width: 90%;
      margin: 8px 8px 0 8px; }
    .pc_sidemenu .side_top .more_img {
      width: 50%;
      margin: 15px 25%; }
    .pc_sidemenu .side_top .introduction {
      font-size: 6px;
      font-size: 0.6rem;
      margin: 0 8px; }
    .pc_sidemenu .side_top .categories {
      width: auto;
      top: 50px;
      right: 2%;
      border: 1px solid #eee;
      background: white;
      margin: 0;
      padding: 0;
      display: none; }
      .pc_sidemenu .side_top .categories li {
        list-style: none;
        margin: 0;
        padding: 0; }
        .pc_sidemenu .side_top .categories li img {
          float: right; }
        .pc_sidemenu .side_top .categories li a {
          display: block;
          padding: 10px 8px;
          border-bottom: 1px solid #eee;
          font-size: 14px;
          text-decoration: none;
          color: black;
          font-size: 6px;
          font-size: 0.6rem; }
    .pc_sidemenu .side_top .next_icon_li {
      height: 12px;
      width: auto;
      margin-top: 5px;
      float: right;
      margin-right: 8px;
      cursor: pointer; }
    .pc_sidemenu .side_top .rotate {
      transform: rotate(90deg); }

/*--pc_sidemenu--*/
.sp_sidemenu {
  /*--side_top--*/ }
  .sp_sidemenu div {
    margin-bottom: 10px; }
  .sp_sidemenu .side_top {
    background-color: #fff;
    /*---h4---*/
    /*---categories--*/ }
    .sp_sidemenu .side_top .pagelink {
      display: none; }
    .sp_sidemenu .side_top .box_top_img {
      background-color: #887f69;
      height: 40px; }
      .sp_sidemenu .side_top .box_top_img img {
        height: 10px;
        width: auto;
        margin-top: 15px;
        margin-left: 5%; }
      .sp_sidemenu .side_top .box_top_img .pagelink_img {
        height: 13px;
        width: auto;
        margin-top: 15px;
        margin-left: 5%; }
      .sp_sidemenu .side_top .box_top_img #next_icon_category2 {
        height: 12px;
        width: auto;
        margin-top: 15px;
        float: right;
        margin-right: 8px;
        cursor: pointer; }
      .sp_sidemenu .side_top .box_top_img #next_icon_link2 {
        height: 12px;
        width: auto;
        margin-top: 15px;
        float: right;
        margin-right: 8px;
        cursor: pointer; }
    .sp_sidemenu .side_top .categories {
      top: 50px;
      right: 2%;
      border: 1px solid #eee;
      background: white;
      margin: 0;
      padding: 0;
      display: none; }
      .sp_sidemenu .side_top .categories li {
        list-style: none;
        margin: 0;
        padding: 0; }
        .sp_sidemenu .side_top .categories li img {
          float: right; }
        .sp_sidemenu .side_top .categories li a {
          display: block;
          padding: 10px 8px;
          border-bottom: 1px solid #eee;
          font-size: 14px;
          text-decoration: none;
          color: black;
          font-size: 8px;
          font-size: 0.8rem; }
    .sp_sidemenu .side_top .about {
      padding-bottom: 30px; }
      .sp_sidemenu .side_top .about .side_about_img {
        margin-bottom: 10px; }
      .sp_sidemenu .side_top .about .introduction {
        font-size: 8px;
        font-size: 0.8rem;
        color: black;
        margin: 20px; }
      .sp_sidemenu .side_top .about .img_jpg {
        width: 40%;
        margin: 20px 20px 120px 20px;
        float: left; }
      .sp_sidemenu .side_top .about .more_img {
        width: 30%; }
    .sp_sidemenu .side_top .shop_info {
      padding-bottom: 30px; }
      .sp_sidemenu .side_top .shop_info .side_shopinfo_img {
        margin-bottom: 10px; }
      .sp_sidemenu .side_top .shop_info .img_jpg {
        width: 40%;
        margin: 20px 20px 120px 20px;
        float: left; }
      .sp_sidemenu .side_top .shop_info .introduction {
        font-size: 8px;
        font-size: 0.8rem;
        color: black;
        margin: 20px; }
      .sp_sidemenu .side_top .shop_info .more_img {
        width: 30%; }
    .sp_sidemenu .side_top .rotate {
      transform: rotate(90deg); }

/*--sp_sidemenu--*/
@media (min-width: 550px) {
  #sp_sidebar {
    display: none; } }
/*-----side-----------------------------------*/
.newitembr1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .newitembr1 img {
    width: 150px; }

.popitembr1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .popitembr1 img {
    margin-top: 30px;
    width: 200px; }

.guidebr1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .guidebr1 img {
    margin-top: 30px;
    width: 200px; }

@media (max-width: 550px) {
  .newitembr2 img {
    display: none; }

  .popitembr2 img {
    display: none; }

  .guidebr2 img {
    display: none; }

  .pc_itembox {
    display: none; }

  .pc_popitems {
    display: none; }

  .pc_info {
    display: none; } }
@media (min-width: 550px) {
  .newitembr1 img {
    display: none; }

  .popitembr1img {
    display: none; }

  .guidebr1img {
    display: none; }

  .newitembr2 img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%; }

  .popitembr2 img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%; }

  .guidebr2 img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%; }

  .sp_itembox {
    display: none; }

  .sp_popitems {
    display: none; }

  .sp_info {
    display: none; } }
.newitembr1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .newitembr1 img {
    width: 150px; }

.popitembr1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .popitembr1 img {
    margin-top: 30px;
    width: 200px; }

.guidebr1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .guidebr1 img {
    margin-top: 30px;
    width: 200px; }

@media (max-width: 550px) {
  .newitembr2 img {
    display: none; }

  .popitembr2 img {
    display: none; }

  .guidebr2 img {
    display: none; }

  .pc_itembox {
    display: none; }

  .pc_popitems {
    display: none; }

  .pc_info {
    display: none; } }
@media (min-width: 550px) {
  .newitembr1 img {
    display: none; }

  .popitembr1 img {
    display: none; }

  .guidebr1 img {
    display: none; }

  .newitembr2 img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%; }

  .popitembr2 img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%; }

  .guidebr2 img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%; }

  .sp_itembox {
    display: none; }

  .sp_popitems {
    display: none; }

  .sp_info {
    display: none; } }
.pc_itembox .four.columns {
  width: 33.3%; }
.pc_itembox img {
  width: 90%; }
.pc_itembox .columns {
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  border: 1px solid #f9f8f6;
  margin-left: 0; }
  .pc_itembox .columns p {
    font-size: 6px;
    font-size: 0.6rem;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; }

.pc_popitems .four.columns {
  width: 33.3%; }
.pc_popitems img {
  width: 90%; }
.pc_popitems .columns {
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  border: 1px solid #f9f8f6;
  margin-left: 0; }
  .pc_popitems .columns p {
    font-size: 6px;
    font-size: 0.6rem;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; }

.sp_itembox .five.columns {
  width: 50%; }
.sp_itembox img {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px; }
.sp_itembox .columns {
  text-align: left;
  background-color: #fff;
  padding-top: 10px;
  border: 1px solid #f9f8f6;
  margin-left: 0; }
.sp_itembox p {
  font-size: 8px;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-right: 10px; }

.sp_popitems .five.columns {
  width: 50%; }
.sp_popitems img {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px; }
.sp_popitems .columns {
  text-align: left;
  background-color: #fff;
  padding-top: 10px;
  border: 1px solid #f9f8f6;
  margin-left: 0; }
.sp_popitems p {
  font-size: 8px;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-right: 10px; }

.pc_info {
  display: flex; }
  .pc_info .five.columns {
    width: 50%; }
  .pc_info h4 {
    color: #887f69;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    font-size: 8px;
    font-size: 0.8rem; }
  .pc_info h5 {
    color: #887f69;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    font-size: 7px;
    font-size: 0.7rem; }
  .pc_info p {
    font-size: 7px;
    font-size: 0.7rem;
    text-align: left;
    margin: 5px 10px 5px 0; }
  .pc_info .columns {
    text-align: left;
    border: 2px solid #f9f8f6;
    margin-left: 0;
    padding: 5px;
    background-color: #fff;
    width: 100%; }
    .pc_info .columns .banner_img {
      width: 50%; }
    .pc_info .columns .cards_img {
      width: 50%; }
    @media (max-width: 550px) {
      .pc_info .columns {
        display: none; } }

.sp_info .nine.columns {
  width: 100%; }
.sp_info .columns {
  text-align: left;
  border: 2px solid #f9f8f6;
  margin-left: 0;
  padding: 10px;
  background-color: #fff;
  width: 100%; }
  .sp_info .columns p {
    font-size: 8px;
    font-size: 0.8rem;
    margin-left: 10px; }
  .sp_info .columns .banner_img {
    width: 50%; }
  .sp_info .columns .cards_img {
    width: 100%; }
  .sp_info .columns h4 {
    color: #887f69;
    font-weight: bold;
    text-align: left;
    margin: 10px;
    font-size: 10px;
    font-size: 1rem; }
  .sp_info .columns h5 {
    color: #887f69;
    font-weight: bold;
    text-align: left;
    margin: 10px;
    font-size: 8px;
    font-size: 0.8rem; }

/*------categorypage------*/
.topicpass {
  background-color: #e2ddd4;
  width: 95%;
  height: 40px;
  padding: 8px;
  margin: 0 auto; }
  .topicpass a {
    color: #887f69;
    font-size: 9px;
    font-size: 0.9rem;
    padding: 5px;
    text-decoration: none; }
  .topicpass .slash {
    color: black; }
  .topicpass img {
    padding: 0 5px;
    margin-left: 8px; }

@media (min-width: 550px) {
  .topicpass {
    background-color: #e2ddd4;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px; }
    .topicpass a {
      color: #887f69;
      font-size: 6px;
      font-size: 0.6rem;
      padding: 5px; }
    .topicpass .slash {
      color: black; }
    .topicpass img {
      padding: 0 5px;
      margin-left: 8px; } }
/*-----------------------------*/
.sp_top_img img {
  width: 100%;
  margin: 10px 0; }

.pc_top_img img {
  width: 100%; }

@media (max-width: 550px) {
  .pc_top_img {
    display: none; } }
@media (min-width: 550px) {
  .sp_top_img {
    display: none; } }
/*------------------------------*/
.page_more_back {
  margin: 20px 0; }
  .page_more_back .back {
    color: white;
    background-color: #887f69;
    float: left;
    padding: 5px 20px;
    display: block;
    font-size: 8px;
    font-size: 0.8rem;
    font-weight: bold; }
  .page_more_back .next {
    color: white;
    background-color: #887f69;
    float: right;
    padding: 5px 20px;
    display: block;
    font-size: 8px;
    font-size: 0.8rem;
    font-weight: bold; }
  @media (max-width: 550px) {
    .page_more_back .back {
      color: white;
      background-color: #887f69;
      float: left;
      padding: 15px 50px;
      display: block;
      font-size: 10px;
      font-size: 1rem;
      font-weight: bold; }
    .page_more_back .next {
      color: white;
      background-color: #887f69;
      float: right;
      padding: 15px 50px;
      display: block;
      font-size: 10px;
      font-size: 1rem;
      font-weight: bold; } }

.saikinmitamono_sp {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .saikinmitamono_sp img {
    width: 30%; }

@media (max-width: 550px) {
  .saikinmitamono_pc {
    display: none; } }
.saikinmitamono_pc {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }
  .saikinmitamono_pc img {
    width: 100%; }

@media (min-width: 550px) {
  .saikinmitamono_sp {
    display: none; } }
.sp_recent .columns {
  width: 50%; }
.sp_recent img {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px; }
.sp_recent .columns {
  text-align: left;
  background-color: #fff;
  padding-top: 10px;
  border: 1px solid #f9f8f6;
  margin-left: 0; }
.sp_recent p {
  font-size: 8px;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-right: 10px; }

@media (max-width: 550px) {
  .pc_recent {
    display: none; } }
.pc_recent .four.columns {
  width: 33%; }
.pc_recent img {
  width: 90%; }
.pc_recent .columns {
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  border: 1px solid #f9f8f6;
  margin-left: 0; }
  .pc_recent .columns p {
    font-size: 6px;
    font-size: 0.6rem;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; }

@media (min-width: 550px) {
  .sp_recent {
    display: none; } }
/*----------productPAGE-----------------------*/
@media (max-width: 550px) {
  #product {
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px; }
    #product .product_name {
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: bold; }
      #product .product_name a {
        color: black;
        display: block;
        padding-top: 15px; }
    #product .product_number {
      font-size: 9px;
      font-size: 0.9rem; }
      #product .product_number a {
        color: #887f69; }
    #product .line1 {
      border: solid #e2ddd4 2px;
      margin: 15px 0; }
    #product #display_img img {
      width: 100%;
      margin-bottom: 10px; }
    #product li {
      list-style: none;
      display: inline; }
    #product li img {
      width: 20%;
      cursor: pointer;
      padding: 0 4px 4px 0;
      float: left; }
    #product .line2 {
      border: solid #e2ddd4 1px;
      margin: 5px 0; }
    #product .color_size .color_size_img {
      margin: 12px 0; }
    #product .color_size table {
      border-collapse: collapse;
      width: 100%;
      font-size: 9px;
      font-size: 0.9rem; }
    #product .color_size .t_top {
      border-top: #e2ddd4 1px solid; }
    #product .color_size th {
      border-bottom: #e2ddd4 1px solid;
      border-left: #e2ddd4 1px solid;
      border-right: #e2ddd4 1px solid;
      background: #f9f8f6;
      padding: 10px;
      font-weight: normal;
      text-align: center;
      color: #887f69; }
    #product .color_size td {
      border-bottom: #e2ddd4 1px solid;
      border-right: #e2ddd4 1px solid;
      text-align: center;
      padding: 10px; }
    #product .color_size .tb_size_box {
      width: 8px;
      height: 8px;
      margin: 0 auto;
      border: #e2ddd4 1px solid;
      padding: 7px; }
    #product .price1_sp {
      width: 100%;
      border-top: solid #e2ddd4 1px;
      border-bottom: solid #e2ddd4 1px;
      margin: 20px 0 0 0;
      height: 65px; }
      #product .price1_sp .price_img {
        margin: 25px 0;
        float: left; }
      #product .price1_sp a {
        font-family: cursive;
        color: #FF6969;
        font-size: 10px;
        font-size: 1rem; }
      #product .price1_sp .taxin {
        color: black; }
      #product .price1_sp .senen {
        font-size: 15px;
        font-size: 1.5rem; }
      #product .price1_sp .price1_2 {
        float: left;
        margin: 10px 0 0 120px; }
    #product .quantity_cart_sp {
      height: 60px;
      width: 100%; }
      #product .quantity_cart_sp .quantity img {
        float: left;
        margin: 25px 0; }
      #product .quantity_cart_sp .quantity_box {
        width: 160px;
        height: 40px;
        border: #e2ddd4 1px solid;
        margin: 15px 0 0 95px;
        float: left; }
    #product .price2_sp {
      height: 65px;
      width: 100%;
      border-top: solid #e2ddd4 1px;
      text-align: center;
      margin: 10px; }
      #product .price2_sp img {
        display: block;
        padding: 10px;
        margin: 0 auto; }
    #product .detail_tug {
      height: 30px;
      width: 100%;
      padding-bottom: 35px;
      border-bottom: #887f69 2px solid; }
      #product .detail_tug h3 {
        font-size: 12px;
        font-size: 1.2rem;
        color: #887f69;
        font-weight: bold; } }
/*------------------------------------------*/
@media (min-width: 550px) {
  #product {
    background-color: white;
    padding: 40px; }
    #product .product_name {
      font-size: 10px;
      font-size: 1rem;
      font-weight: bold;
      float: left; }
      #product .product_name a {
        color: black; }
    #product .product_number {
      font-size: 7px;
      font-size: 0.7rem;
      float: right; }
      #product .product_number a {
        color: #887f69; }
    #product .line1 {
      border: solid #f9f8f6 2px;
      margin: 30px 0 15px 0; } }
.display_js img {
  width: 70%;
  float: left; }
.display_js li {
  list-style: none;
  display: inline; }
.display_js li img {
  width: 15%;
  cursor: pointer;
  padding: 0 0 5px 8px;
  float: left; }

.line2 {
  border: solid #f9f8f6 2px;
  margin: 15px 0; }

.color_size .color_size_img {
  margin-bottom: 10px; }
.color_size table {
  border-collapse: collapse;
  width: 100%;
  font-size: 6px;
  font-size: 0.6rem; }
.color_size .t_top {
  border-top: #e2ddd4 1px solid; }
.color_size th {
  border-bottom: #e2ddd4 1px solid;
  border-left: #e2ddd4 1px solid;
  border-right: #e2ddd4 1px solid;
  background: #f9f8f6;
  padding: 10px;
  font-weight: normal;
  text-align: center;
  color: #887f69; }
.color_size td {
  border-bottom: #e2ddd4 1px solid;
  border-right: #e2ddd4 1px solid;
  text-align: center;
  padding: 10px; }
.color_size .tb_size_box {
  width: 8px;
  height: 8px;
  margin: 0 auto;
  border: #e2ddd4 1px solid;
  padding: 7px; }

/*----------------------*/
.clear {
  clear: both;
  margin: 0; }

.price1_pc {
  width: 60%;
  float: left;
  border-top: solid #f9f8f6 3px;
  border-bottom: solid #f9f8f6 2px;
  margin: 15px 0 0 0;
  height: 60px; }
  .price1_pc .price_img {
    margin: 20px 30px 0 0; }
  .price1_pc a {
    font-family: cursive;
    color: #FF6969;
    font-size: 8px;
    font-size: 0.8rem; }
  .price1_pc .taxin {
    color: black; }
  .price1_pc .senen {
    font-size: 13px;
    font-size: 1.3rem; }

@media (max-width: 550px) {
  .price1_pc {
    display: none; } }
@media (min-width: 550px) {
  .price1_sp {
    display: none; }

  .price2_sp {
    display: none; } }
.quantity_cart_pc .price2 {
  float: right;
  margin: 15px 0 0 5px; }
  .quantity_cart_pc .price2 .cart {
    height: 45px; }
.quantity_cart_pc .quantity {
  float: left; }
  .quantity_cart_pc .quantity .quantity_img {
    float: left;
    margin: 20px 0; }
  .quantity_cart_pc .quantity .quantity_box {
    width: 120px;
    height: 35px;
    border: #e2ddd4 1px solid;
    float: left;
    margin: 10px 35px; }

@media (min-width: 550px) {
  .quantity_cart_sp {
    display: none; } }
@media (max-width: 550px) {
  .quantity_cart_pc {
    display: none; } }
@media (min-width: 550px) {
  .detail_tug {
    height: 60px;
    width: 100%;
    border-top: #f9f8f6 2px solid;
    border-bottom: #887f69 1px solid; }
    .detail_tug h3 {
      font-size: 8px;
      font-size: 0.8rem;
      color: #887f69;
      font-weight: bold;
      margin-top: 30px; } }
.detail h3 {
  font-size: 8px;
  font-size: 0.8rem;
  color: #887f69;
  font-weight: bold;
  margin: 20px 0; }
.detail p {
  font-size: 6px;
  font-size: 0.6rem;
  font-weight: bold; }

.detail_tb {
  margin: 20px 0; }
  .detail_tb table {
    border-collapse: collapse;
    width: 100%;
    font-size: 6px;
    font-size: 0.6rem; }
  .detail_tb th {
    width: 150px;
    border: #e2ddd4 1px solid;
    background: #f9f8f6;
    padding: 10px;
    font-weight: normal;
    text-align: center;
    color: #887f69; }
  .detail_tb td {
    border-bottom: #e2ddd4 1px solid;
    border-top: #e2ddd4 1px solid;
    border-right: #e2ddd4 1px solid;
    padding: 10px;
    text-align: left;
    color: #887f69; }

@media (max-width: 550px) {
  .detail h3 {
    font-size: 12px;
    font-size: 1.2rem; }
  .detail p {
    font-size: 10px;
    font-size: 1rem; } }
/*-----------footer----------------*/
footer {
  background-color: #f9f8f6; }
  footer img {
    float: right;
    margin: 50px 0 10px 0; }
  footer .line {
    border: solid #e2ddd4 1px;
    margin: 20px 0; }
  footer .copyright1 p {
    font-size: 5px;
    font-size: 0.5rem;
    text-align: center;
    margin: 10px 0; }
  footer .copyright1 .copyright1_2 {
    padding: 0 20px;
    color: black; }
  footer .copyright2 p {
    font-size: 4px;
    font-size: 0.4rem;
    color: #b0b0b0;
    text-align: center;
    margin: 10px 0 50px 0; }
  @media (max-width: 550px) {
    footer img {
      width: 30%;
      margin-right: 35%; }
    footer .copyright1 p {
      font-size: 7px;
      font-size: 0.7rem;
      margin: 0 17px; }
    footer .copyright2 p {
      font-size: 7px;
      font-size: 0.7rem; } }

/*# sourceMappingURL=style.css.map */
